.label {
    -fx-padding: 10;
}

.text-field {
    -fx-font: 16px "Serif";
    -fx-padding: 5;
    -fx-background-color: #E9E9E9;
    -fx-border-color: Black;
}

.button {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-label-padding: 5, 5, 5, 5;
    -fx-background-color: #E9E9E9;
    -fx-border-color: Black
}

#blue-button {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-label-padding: 5, 5, 5, 5;
    -fx-background-color: #86EDFF;
    -fx-border-color: Black
}

#button-control-flow-pane {
    -fx-alignment: "center-right";
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 5;
}

#point-redeem-option-setting-model-flow-pane {
    -fx-alignment: "center-right";
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 5;
}

#member-info-pane {
    -fx-padding: 5;
}

#member-search-tab {
    -fx-padding: 5;
}

#header-label {
    -fx-padding: 5;
    -fx-font: 24px "Serif";
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-text-fill: Grey;
}